@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  @apply antialiased text-slate-900 font-sans;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
